# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment folders
venv/
env/
.venv/
.env/

# Flask specific
instance/
*.db
*.sqlite3

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Log files
*.log

# Flask config files (optional, if you're using a config file)
config.py

# Runtime files
*.pid
*.sock

# Miscellaneous
*.bak
*.swp

# Specific files and directories to ignore based on your project structure
Spam_HAM/artifacts/
Spam_HAM/words/
Spam_HAM/mlflow_dash_app.py
Spam_HAM/Poster.md
Spam_HAM/README.md
Spam_HAM/script.py
Spam_HAM/setup.py
Spam_HAM/__pycache__/
E:/_DataScienc_KNaik/NLP/NLP for ML
nlp
modular.py
Spam_HAM\script.py
